# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Pygame assets
assets/

# If you have any virtual environments
env/

# VS Code
.vscode/

# Logs
*.log
